*{
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
}
header{
    position: sticky;
    top: 0;
    background-color: black;
    height: 70px;
    color: azure;
}
ul{
    list-style-type: none;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-logo{
    padding-left: 5%;
    padding-right: 50%;
}
li{
    margin: 0 1%;
    font-size: 20px;
}
.header-inup{
    border: 1px solid #99f2c8;
    padding: 5px
}
.header-inup:hover{
    background-color: #99f2c8;
    color: black;
}
/*  */
#section-infor{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#0F2027,#203A43, #2C5364);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-h{
    color: white;
    font-size: 50px;
}
/*  */
#project{
    width: 100%;
    background-color: #2C5364;
}
.project-header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50px;
    color: white;
    font-size: 20px;
}
hr{
    width: 30%;
}
.project-li{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 28%));
    grid-gap: 20px;
    justify-content: center;
    padding-top: 30px;
}
.project-img{
    height: 300px;
}
img{
    width: 100%;
    height: 80%;
    object-fit: cover;
}
.example{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}
a{
    text-decoration: none;

}
.project-btn{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.show{
    padding: 15px;
    border: 1px solid #bdc3c7;
    background-color: #bdc3c7;
    text-decoration: none;
    color: black;
}
.show:hover{
    background-color: #2c3e50;
}
.a-img:hover{
    color: blue;
}
#link{
    height: 100vh;
    background-image: linear-gradient(#2C5364, #203A43, #0F2027);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white
}
.link-header{
    font-size: 50px;
}
.link-header-small{
    font-size: 18px;
}
.link-web{
    margin-top: 20px;
    font-size: 20px;
    width: 500px;
    text-align: center;
    justify-content: space-between;
    display: flex;
}
.link-a{
    transition: 300ms;
}
.link-a:hover{
    transform: translateY(10px);
}
footer{
    height: 100px;
    background-color: black;
    color: white;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}